<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <p>
            <label>Введите title</label>
            <input type="text" name="title">
        </p>
        <p>
            <label>Введите text</label>
            <input type="text" name="text">
        </p>
        <p>
            <label>Введите category</label>
            <select name="category">
            {% for categor in category%}

            {% endfor %}
            </select>
        </p>
    </form>
</body>
</html>